{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}
{% block body %}
    <h1>Editar producto</h1>
    {# {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }} #}
    {{ form(formulario) }}
{% endblock %}