{% extends 'base.html.twig' %}
{% block title %}Productos{% endblock %}
{% block body %}
    <h1>Ficha del producto</h1>
    {% if producto %}
        {{include ('partials/datos_producto.html.twig', {'producto':producto})}}
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}