{% extends 'base.html.twig' %}
{% block title %}Productos{% endblock %}
{% block body %}
    <h1>Productos</h1>
    <h2>Bienvenido a la web de productos.</h2>
    <p>Página de inicio</p>
{% endblock %}